#sun{
    background-color: #ffeec8;
    text-align: center;
    width: 400px;
 height: 500px;
 margin:0 auto;
}
body{
    background-image:  url(ajy.jpg);
    background-position: 50% 50%;
    text-align: center;
}
